apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-producer
  namespace: traffic
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-producer
  template:
    metadata:
      labels:
        app: kafka-producer
    spec:
      containers:
      - name: producer
        image: kafka-producer:dev
        imagePullPolicy: IfNotPresent
        env:
        - name: KAFKA_BOOTSTRAP_SERVERS
          value: "kafka.traffic.svc.cluster.local:9092"
       