apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-producer
  namespace: traffic
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-producer
  template:
    metadata:
      labels:
        app: kafka-producer
    spec:
      imagePullSecrets:
      - name: ghcr-secret
      containers:
      - name: producer
        image: ghcr.io/achootrain/kafka-producer:latest
        imagePullPolicy: Always
        env:
        - name: KAFKA_BOOTSTRAP_SERVERS
          value: "kafka.traffic.svc.cluster.local:9092"
        resources:
          requests:
            memory: "200Mi"
            cpu: "100m"
          limits:
            memory: "400Mi"
            cpu: "500m"