apiVersion: sparkoperator.k8s.io/v1beta2
kind: SparkApplication
metadata:
  name: spark-pi-python
  namespace: traffic
spec:
  type: Python
  pythonVersion: "3"
  mode: cluster
  image: spark-application:dev2
  imagePullPolicy: IfNotPresent
  mainApplicationFile: local:///app/minio.py  
  sparkVersion: 3.5.1
  sparkConf:
    "spark.jars": "local:///opt/spark/jars/hadoop-aws-3.3.4.jar,local:///opt/spark/jars/aws-java-sdk-bundle-1.12.262.jar,local:///opt/spark/jars/spark-sql-kafka-0-10_2.12-3.5.1.jar,local:///opt/spark/jars/kafka-clients-3.5.1.jar,local:///opt/spark/jars/spark-token-provider-kafka-0-10_2.12-3.5.1.jar,local:///opt/spark/jars/commons-pool2-2.11.1.jar"
  driver:
    cores: 1
    memory: 1g
    serviceAccount: default
    env:
      - name: KAFKA_BOOTSTRAP_SERVERS
        value: "kafka.traffic.svc.cluster.local:9092"
      - name: KAFKA_TOPIC
        value: "hugedata"
      - name: KAFKA_GROUP_ID
        value: "spark-minio-group"
    securityContext:
      runAsUser: 185
      runAsGroup: 185
      runAsNonRoot: true
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
      seccompProfile:
        type: RuntimeDefault
  executor:
    instances: 1
    cores: 1
    memory: 1g
    env:
      - name: KAFKA_BOOTSTRAP_SERVERS
        value: "kafka.traffic.svc.cluster.local:9092"
      - name: KAFKA_TOPIC
        value: "hugedata"
      - name: KAFKA_GROUP_ID
        value: "spark-minio-group"
    securityContext:
      runAsUser: 185
      runAsGroup: 185
      runAsNonRoot: true
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
      seccompProfile:
        type: RuntimeDefault